* {margin: auto;
    
  
   
}

body { 
    background-color: rgb(70, 93, 138);
}



      
.card {

    border: 2px solid black;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 45px;
    background-color: rgb(120, 162, 163);
    
    
     

     
}


h5  {
    background: rgb(104, 122, 180);


}

 
        


header {
    border: 5px solid rgb(82, 84, 214);
    
}


.title h1{
    text-align: center;
    margin: 5px;
    padding: 40px;
    color: rgb(54, 121, 175);
    background: rgb(231, 230, 236);
  
}


    
   



